node_modules/
.next/
data/
.env
*.tsbuildinfo
next-env.d.ts

TMS_FE/node_modules/
TMS_FE/.next/
TMS_FE/.env
TMS_FE/.env.local
TMS_FE/*.tsbuildinfo
TMS_FE/next-env.d.ts

TMS_BE/node_modules/
TMS_BE/uploads/*
!TMS_BE/uploads/.gitkeep
TMS_BE/.env
